Library/
Logs/
Temp/
UserSettings/
Plateformer2dJam.sln
obj/Debug/Assembly-CSharp.csproj.CoreCompileInputs.cache
obj/Debug/Assembly-CSharp.csproj.FileListAbsolute.txt
obj/Debug/Assembly-CSharp-firstpass.csproj.CopyComplete
obj/Debug/Assembly-CSharp-firstpass.csproj.CoreCompileInputs.cache
obj/Debug/Assembly-CSharp-firstpass.csproj.FileListAbsolute.txt
obj/Debug/Assembly-CSharp-firstpass.dll
obj/Debug/Assembly-CSharp-firstpass.pdb
obj/Debug/Hierarchy2.Editor.csproj.CopyComplete
obj/Debug/Hierarchy2.Editor.csproj.CoreCompileInputs.cache
obj/Debug/Hierarchy2.Editor.csproj.FileListAbsolute.txt
obj/Debug/Hierarchy2.Editor.dll
obj/Debug/Hierarchy2.Editor.pdb
obj/Debug/Hierarchy2.Runtime.csproj.CopyComplete
obj/Debug/Hierarchy2.Runtime.csproj.CoreCompileInputs.cache
obj/Debug/Hierarchy2.Runtime.csproj.FileListAbsolute.txt
obj/Debug/Hierarchy2.Runtime.dll
obj/Debug/Hierarchy2.Runtime.pdb
obj/Debug/Lofelt.NiceVibrations.csproj.CopyComplete
obj/Debug/Lofelt.NiceVibrations.csproj.CoreCompileInputs.cache
obj/Debug/Lofelt.NiceVibrations.csproj.FileListAbsolute.txt
obj/Debug/Lofelt.NiceVibrations.Demo.csproj.CopyComplete
obj/Debug/Lofelt.NiceVibrations.Demo.csproj.CoreCompileInputs.cache
obj/Debug/Lofelt.NiceVibrations.Demo.csproj.FileListAbsolute.txt
obj/Debug/Lofelt.NiceVibrations.Demo.dll
obj/Debug/Lofelt.NiceVibrations.Demo.pdb
obj/Debug/Lofelt.NiceVibrations.dll
obj/Debug/Lofelt.NiceVibrations.Editor.csproj.CopyComplete
obj/Debug/Lofelt.NiceVibrations.Editor.csproj.CoreCompileInputs.cache
obj/Debug/Lofelt.NiceVibrations.Editor.csproj.FileListAbsolute.txt
obj/Debug/Lofelt.NiceVibrations.Editor.dll
obj/Debug/Lofelt.NiceVibrations.Editor.pdb
obj/Debug/Lofelt.NiceVibrations.pdb
obj/Debug/MoreMountains.Feedbacks.Cinemachine.csproj.CopyComplete
obj/Debug/MoreMountains.Feedbacks.Cinemachine.csproj.CoreCompileInputs.cache
obj/Debug/MoreMountains.Feedbacks.Cinemachine.csproj.FileListAbsolute.txt
obj/Debug/MoreMountains.Feedbacks.Cinemachine.dll
obj/Debug/MoreMountains.Feedbacks.Cinemachine.pdb
obj/Debug/MoreMountains.Feedbacks.csproj.CopyComplete
obj/Debug/MoreMountains.Feedbacks.csproj.CoreCompileInputs.cache
obj/Debug/MoreMountains.Feedbacks.csproj.FileListAbsolute.txt
obj/Debug/MoreMountains.Feedbacks.dll
obj/Debug/MoreMountains.Feedbacks.Editor.csproj.CopyComplete
obj/Debug/MoreMountains.Feedbacks.Editor.csproj.CoreCompileInputs.cache
obj/Debug/MoreMountains.Feedbacks.Editor.csproj.FileListAbsolute.txt
obj/Debug/MoreMountains.Feedbacks.Editor.dll
obj/Debug/MoreMountains.Feedbacks.Editor.pdb
obj/Debug/MoreMountains.Feedbacks.HDRP.csproj.AssemblyReference.cache
obj/Debug/MoreMountains.Feedbacks.HDRP.csproj.CopyComplete
obj/Debug/MoreMountains.Feedbacks.HDRP.csproj.CoreCompileInputs.cache
obj/Debug/MoreMountains.Feedbacks.HDRP.csproj.FileListAbsolute.txt
obj/Debug/MoreMountains.Feedbacks.HDRP.dll
obj/Debug/MoreMountains.Feedbacks.HDRP.pdb
obj/Debug/MoreMountains.Feedbacks.MMTools.csproj.AssemblyReference.cache
obj/Debug/MoreMountains.Feedbacks.MMTools.csproj.CopyComplete
obj/Debug/MoreMountains.Feedbacks.MMTools.csproj.CoreCompileInputs.cache
obj/Debug/MoreMountains.Feedbacks.MMTools.csproj.FileListAbsolute.txt
obj/Debug/MoreMountains.Feedbacks.MMTools.dll
obj/Debug/MoreMountains.Feedbacks.MMTools.pdb
obj/Debug/MoreMountains.Feedbacks.NiceVibrations.csproj.CopyComplete
obj/Debug/MoreMountains.Feedbacks.NiceVibrations.csproj.CoreCompileInputs.cache
obj/Debug/MoreMountains.Feedbacks.NiceVibrations.csproj.FileListAbsolute.txt
obj/Debug/MoreMountains.Feedbacks.NiceVibrations.dll
obj/Debug/MoreMountains.Feedbacks.NiceVibrations.pdb
obj/Debug/MoreMountains.Feedbacks.pdb
obj/Debug/MoreMountains.Feedbacks.PostProcessing.csproj.AssemblyReference.cache
obj/Debug/MoreMountains.Feedbacks.PostProcessing.csproj.CopyComplete
obj/Debug/MoreMountains.Feedbacks.PostProcessing.csproj.CoreCompileInputs.cache
obj/Debug/MoreMountains.Feedbacks.PostProcessing.csproj.FileListAbsolute.txt
obj/Debug/MoreMountains.Feedbacks.PostProcessing.dll
obj/Debug/MoreMountains.Feedbacks.PostProcessing.pdb
obj/Debug/MoreMountains.Feedbacks.TextMeshPro.csproj.AssemblyReference.cache
obj/Debug/MoreMountains.Feedbacks.TextMeshPro.csproj.CopyComplete
obj/Debug/MoreMountains.Feedbacks.TextMeshPro.csproj.CoreCompileInputs.cache
obj/Debug/MoreMountains.Feedbacks.TextMeshPro.csproj.FileListAbsolute.txt
obj/Debug/MoreMountains.Feedbacks.TextMeshPro.dll
obj/Debug/MoreMountains.Feedbacks.TextMeshPro.pdb
obj/Debug/MoreMountains.Feedbacks.URP.csproj.CopyComplete
obj/Debug/MoreMountains.Feedbacks.URP.csproj.CoreCompileInputs.cache
obj/Debug/MoreMountains.Feedbacks.URP.csproj.FileListAbsolute.txt
obj/Debug/MoreMountains.Feedbacks.URP.dll
obj/Debug/MoreMountains.Feedbacks.URP.pdb
obj/Debug/MoreMountains.Tools.csproj.CopyComplete
obj/Debug/MoreMountains.Tools.csproj.CoreCompileInputs.cache
obj/Debug/MoreMountains.Tools.csproj.FileListAbsolute.txt
obj/Debug/MoreMountains.Tools.dll
obj/Debug/MoreMountains.Tools.Editor.csproj.CopyComplete
obj/Debug/MoreMountains.Tools.Editor.csproj.CoreCompileInputs.cache
obj/Debug/MoreMountains.Tools.Editor.csproj.FileListAbsolute.txt
obj/Debug/MoreMountains.Tools.Editor.dll
obj/Debug/MoreMountains.Tools.Editor.pdb
obj/Debug/MoreMountains.Tools.pdb
Assembly-CSharp.csproj
Assembly-CSharp-Editor.csproj
Assembly-CSharp-firstpass.csproj
Hierarchy2.Editor.csproj
Hierarchy2.Runtime.csproj
Lofelt.NiceVibrations.csproj
Lofelt.NiceVibrations.Demo.csproj
Lofelt.NiceVibrations.Editor.csproj
MoreMountains.Feedbacks.Cinemachine.csproj
MoreMountains.Feedbacks.csproj
MoreMountains.Feedbacks.Editor.csproj
MoreMountains.Feedbacks.HDRP.csproj
MoreMountains.Feedbacks.MMTools.csproj
MoreMountains.Feedbacks.NiceVibrations.csproj
MoreMountains.Feedbacks.PostProcessing.csproj
MoreMountains.Feedbacks.TextMeshPro.csproj
MoreMountains.Feedbacks.URP.csproj
MoreMountains.Tools.csproj
MoreMountains.Tools.Editor.csproj
Assets/Scripts/Enemy/ShootProjectile.cs
obj/Debug/Assembly-CSharp-firstpass.csproj.AssemblyReference.cache
obj/Debug/Hierarchy2.Editor.csproj.AssemblyReference.cache
obj/Debug/Hierarchy2.Runtime.csproj.AssemblyReference.cache
obj/Debug/Lofelt.NiceVibrations.csproj.AssemblyReference.cache
obj/Debug/Lofelt.NiceVibrations.Editor.csproj.AssemblyReference.cache
obj/Debug/MoreMountains.Feedbacks.csproj.AssemblyReference.cache
obj/Debug/MoreMountains.Tools.csproj.AssemblyReference.cache
